.sidebar {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 317px;
    height: 100%;
    background: #ffffff;
    z-index: 999;

    display: flex;
    flex-direction: column;
}

.sidebar.open {
    visibility: visible;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    opacity: 30%;
    z-index: 998;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;

    padding-left: 70px;
    padding-top: 85px;
}

.nav a {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 22px;

    color: #000000;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}

.close {
    background: none;
    border: none;
    cursor: pointer;

    align-self: flex-end;
    margin-right: 24px;
    margin-top: 16px;
}

.close img {

}
