.input:focus {
    outline: none;
    border: 2px solid #D1D1D1;
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    padding: 0 10px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC1439
}

.errorInput:focus {
    outline: none;
    border: 2px solid #CC1439
}

.error {
    font-weight: 400;
    font-size: 14px;
    color: #CC1439;
}
