.buttonsContainer {
    display: flex;
    justify-content: space-between;

    button {
        width: 85px;
    }
}

.clock {
    max-width: 200px;
}

.watch {
    padding-bottom: 8px;
}

.watch strong {

}

.more {
    padding-bottom: 27px;

    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}