.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    margin-bottom: 30px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.friendText {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 5px;

    position: relative;
    padding: 8px 13px;
    background-color: #F5F7FB;
    border-radius: 16px 16px 16px 0;
    box-shadow: 0 1px 2px 0 #1D21261A, 0 5px 20px 0 #1D212608;
    max-width: 527px;
    word-wrap: break-word;
}

/*
    border-radius: 16px 16px 0 16px;
    box-shadow: 0 1px 2px 0 #1D21261A, 0 5px 20px 0 #1D21261A;
    max-width: 527px;
    word-wrap: break-word;*/

.friendText:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: 0;
    left: -12px;
    border: 12px solid transparent;
    border-bottom: 12px solid #F5F7FB;
}

.friendName {
    font-weight: 600;
    font-size: 18px;
}

.friendMessageText {

}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    margin-left: 12px;
}
