.button {
    width: 167px;
    height: 30px;

    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.disabled {
    background-color: #004D99;
    opacity: 0.5;
    color: #002E5C;
    cursor: default;
}

.secondary {
    border: 1px solid #0066CC;
    background-color: #FFFFFF;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #CC1439;
}

.default:hover {
    background-color: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
}

.secondary:hover {
    background-color: #E5F0FA;
}


.default:active {
    background-color: #0059B2;
}

.secondary:active {
    background-color: #C9E5FF;
}

.red:active {
    background-color: #B21232;
}

.button:disabled {
}
